<ion-view view-title="Dev Info" ng-controller="MapCtrl">
	<ion-content scroll="false">
  			<div style="width:100%;height:90%;" >
  			<ng-map style="width:100%;height:100%;" center="-5.149311, 117.070313" zoom="15">
  				<marker position="{{ latitude }},{{ longitude }}" animation="DROP" centered="true"></marker>
  			</ng-map>
  			</div>
  			
  			<!-- <button style="width:100%;height:10%;"  class="button button-small button-assertive" ng-controller="PushCtrl" ng-click="identifyUser()">
			  Small Button
			</button> -->

      <div style="width:100%;height:10%;" class="button-bar" ng-controller="PushCtrl">
        <a class="button button-small" ng-click="identifyUser()">identify</a>
        <!-- <a class="button button-small" ng-controller="PushCtrl" ng-click="pushNotifById()">send notif</a> -->
        <a class="button button-small">Third</a>
      </div>
      
    </ion-content>
	
</ion-view>

	
