<ion-view view-title="Dashboard" ng-controller="DashCtrl" ng-init="getItems()">
  <ion-content scroller>
  <ion-refresher 
        pulling-text="Pull to refresh"
        refreshing-text="Loading..."
        on-refresh="getItems()">                    
  </ion-refresher>
<div>
  <div class="list">
           
            <a  ng-repeat="item in items"
                href="#/tab/dash/{{item.get('longitude')}}/{{item.get('latitude')}}"
                class="item item-thumbnail-left"
                >
                  <img image-lazy-src='img/{{ item.get("img") }}.png' image-lazy-loader="spiral">
                  <h2> Device Info </h2>
                  <p>Model : {{ item.get("model") }}</p>
                  <!-- <h4>{{ item.get("uuid") }}</h4>-->
                   <p>OS version : {{ item.get("platform") }}</p>
                  <p>Screen Resolution : {{ item.get("screenRes") }}</p>
                 
            </a>
            

  </div>
</div>
<div>
<button class="button button-block button-positive" ng-if="kosong" ng-click="pushRegister()">
          Add Device
</button>
</div>
  </ion-content>
</ion-view>
