<ion-view view-title="Dev Info" ng-controller="MapCtrl">
	<ion-content scroll="false">
  			<div style="width:100%;height:90%;" >
  			<ng-map style="width:100%;height:100%;" center="-5.149311, 117.070313" zoom="15">
  				<marker position="{{ latitude }},{{ longitude }}" animation="DROP" centered="true"></marker>
  			</ng-map>
  			</div>
  			<button style="width:100%;height:10%;"  class="button button-small button-assertive">
			  Small Button
			</button>
    </ion-content>
	
</ion-view>

	
